h1 {
  // padding-top: 100px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 24px;
  span {
    color: red;
  }
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 15px;
}

