h1 {
  font-size: 48px;
  position: absolute;
  left: 107px;
  right: 10.35%;
  top: 0%;
  bottom: 73.03%;
  font-weight: 500;
  font-size: 48px;
}

h2 {
  position: absolute;
  left: 107px;
  top: 20%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
