h1 {
  font-size: 48px;
  position: absolute;
  left: 80px;
  right: 10.35%;
  top: 0%;
  bottom: 73.03%;
  font-weight: 500;
  font-size: 48px;
  
  span {
    color: red;
  }
}

h2 {
  position: absolute;
  left: 80px;
  top: 13%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
