:root {
  /* BACKGROUND COLORS */
  --dark-bg : rgb(33, 37, 41);
  --lightGrey-bg : rgba(0, 0, 0, 0.025);;
  --white-bg: #FBFBFB;

  /* SHAPE */
  --border-radius: 5px;

  /* TEXT COLORS */
  --primary: #ff0000;
  --secondary: #fff;
  --dark:#000000;
  --active-link: #fff;
  --link: grey;
  --alert: #ff0000;
}