section {
  transform: translate(117px);
}

.weight {
  width: 815px;
  padding-top: 220px;
  // top: 0%;
  position: relative;
  left: 90px;  
}

.Chart-wrapper {
  width: auto;
  margin-left: 107px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  border: 1px solid red;
  background-color: red;
  border-radius: 5px;

  &--Radar {
    border: 1px solid #282D30;
    background-color: #282D30;
    width: 260px;
    height: 258px;
    position: absolute;
    top: 100%;
    left: 30%;
  }
}

.Icon-wrapper {
  // background-color: red;
  display: flex;
  flex-direction: column;
  position: fixed;
  // top: 50%;
  right: 10%;
  
}




/* AVERAGE SESSIONS */
.average-sessions {
  position: relative;
  width: 30%;
  height: 300px;
  margin-top: 2rem;
  background: var(--primary);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.average-sessions--title {
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  line-height: 1.5rem;
  font-size: medium;
  font-weight: bold;
  color: rgba(250, 250, 250, 0.9);
}

