section {
  transform: translate(117px);
}

.weight {
  width: 815px;
  padding-top: 240px;
  // top: 0%;
  position: relative;
  left: 90px;
  
}

.Chart-wrapper {
  width: 815px;
  // margin: 50px;
  display: flex;
  justify-content: space-between;
  position: absolute;
}


.Icon-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 30%;
}
