/* CHART CONTAINER */
.responsive-container {
  position: relative;
}

/* SCORE */
.score {
  position: relative;
  width: 30%;
  height: 300px;
  margin-top: 2rem;
  background: var(--lightGrey-bg);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.score-title {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: medium;
  font-weight: bold;
}

.score-result{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: x-large;
  font-weight: bold;
}

.score-comment {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: small;
}
