.dashboard {
  display: flex;
  margin-left: 180px;
  margin-top: 50px;

 @media screen and (max-width:1370px) {
    margin-left: 140px;
    margin-top: 0px;
  }
}

.inline-charts {
  display: flex;
  height: 258px;
  justify-content: space-between;
  
  &--average {
    width: 30%;    
    position:relative;
    background: var(--primary);
    border-radius: var(--border-radius);
    padding: 9px;
  }
  
  &--radar {
    width: 30%;
    background-color: var(--dark-bg);
    border-radius: var(--border-radius);
  }

  &--score {
    width: 30%;
    border-radius: var(--border-radius);
  }
}

.average-sessions--title {
  position: absolute;
  top: 32px;
  left: 32px;
  right: 32px;
  line-height: 24px;
  font-size: medium;
  font-weight: bold;
  color: rgba(250, 250, 250, 0.9);
}

.charts-wrapper {
  width: 835px;
  // display: bloc;
}
