.weight {
  margin-left: 15%;
}

.bloc-nutriment {
  display: flex;
}

.Chart-wrapper {
  margin-left: 15%;
  display: flex;
  justify-content: space-between;
  width: 930px;
  height: 263px;

  &--average {
    background: #FF0000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    width: 30%;
  }

  &--radar {
    background: #282D30;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    width: 30%;
  }

  &--score {
    // background-color: #FBFBFB;
    background-color: RED;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    width: 30%;
  }
}