/* Score sessions */
.score-title {
  position: absolute;
  top: 1%;
  left: 10%;
  font-size: 15px;
  font-weight: bold;
}

.score-result{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  font-weight: 500;
}

.score-comment {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}
