/* SCORE */
.score {
  position: relative;
  height: 258px;
  background: var(--lightGrey-bg);
  border-radius: var(--border-radius);
}

.score-title {
  position: absolute;
  top: 10px;
  left: 32px;
  font-size: medium;
  font-weight: bold;
}

.score-result {
  position: absolute;
  top: 28%;
  left: 42%;
  font-size: x-large;
  font-weight: bold;
  color: var(--dark-lg);
}

.score-comment {
  position: absolute;
  top: 44%;
  left: 38%;
  color: var(--grey-tex);
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 1370px) {
  .score {
    height: 159px !important;
  }

  .score-title {
    top: 0;
  }

  .score-result {
    top: 28%;
    left: 42%;
  }

  .score-comment {
    top: 51%;
    left: 38%;
  }
}
