.nutriment-container {

  ul {
    display:flex;
    flex-direction:column;
    margin-top: 200px;
    
    @media screen and (max-width:1370px) {
      margin-top: 160px;
    }
  }

  li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;   
    margin-bottom: 39px;
    background: var(--white-bg);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    height: 124px;
    width: 258px;

    @media screen and (max-width:1370px) {
      margin-bottom: 24px;
      height: 90px;
      width: 150px;
    }
  } 
}

.inside-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity {
  margin-bottom: 0;
  margin-left: 25px;
  font-weight: 700;
}

.nutrition-type {
  font-weight: 500;
  margin-top: 5px;
  margin-left: 25px;
}

.icon-box {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  margin-left: 53px;

  @media screen and (max-width:1370px) {
    margin-left: 26px;

    svg {
      width: 50px!important;
      height: 50px!important;
    }
  }
}
