.Navbar {
  // width: auto !important;
  display: flex;
  // justify-content: center;
  // padding: 16px 200px;
  background-color: black;
  padding: 16px;
  background: #020203;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  // &.img {
    // position: relative;
  // }
}

.Nav-Logo-Wrapper {
  margin-left: 1%;
  display: flex;
  font-size: 24px!important;
  font-weight: 500!important;
  // margin-right: 107px;
  
  img {
    border-radius: 50%;
    background-color: red;
    width:52.42px;
    height: 49.84px;
    // margin-left: 80px;
    margin-top: 5px;
  }
  
  p {
    color: red;
    margin-top: 10px;
    margin-left: 10px;
  }

  svg {
    margin-top: 20px;
    margin-left: 10px;
  }
}

.Nav-Buttons-Wrapper{
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  
  a {
    color: white;
    width:200px;
    font-weight: 500;
    font-size: 24px;
    margin-right: 107px;

    @media screen and (max-width:1370px) {
      width: 100px;
    }
  }
}