.Vertical-Navbar {
  height: 930px;
  background-color: black;
  width: 100px;
  position: absolute;

  p {
    position: absolute;
    right: -18%;
    bottom: 20%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: white;
    rotate: -90deg;
    width: 138px;

    @media screen and (max-width:1370px) {
      bottom: 36%;
    }
  }

}

#layout {
  border-radius: 6px;
  width: 64px;
  height: 64px;
  
  &-icon-M {
    position: absolute;
    top: 24%;
    left: 18px;

    @media screen and (max-width:1370px) {
      top: 18%;
    }
  }
  
  &-icon-S {
    position: absolute;
    top: 32%;
    left: 18px;  

    @media screen and (max-width:1370px) {
      top: 26%;
    }
  }

  &-icon-B {
    position: absolute;
    top: 40%;
    left: 18px;

    @media screen and (max-width:1370px) {
      top: 34%;
    }
  }

  &-icon-T {
    position: absolute;
    top: 48%;
    left: 18px; 

    @media screen and (max-width:1370px) {
      top: 42%;
    }
  }
}