.Vertical-Navbar {
  height: 930px;
  background-color:var(--dark);
  width: 100px;
  position: absolute;

  @media screen and (max-width:1370px) {
    height: 780px;
    width: 84px;
  }

  p {
    position: absolute;
    right: -18%;
    bottom: 12%;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color:var(--white-bg);
    rotate: -90deg;
    width: 138px;

    @media screen and (max-width:1370px) {
      bottom: 25%;
      right: -30%;
    }
  }
}

#layout {
  border-radius: 6px;
  width: 64px;
  height: 64px;
  position:relative;
  
  &-icon-M {
    position: absolute;
    top: 24%;
    left: 18px;

    @media screen and (max-width:1370px) {
      top: 20%;
      left: 12px;
    }
  }
  
  &-icon-S {
    position: absolute;
    top: 34%;
    left: 18px;  

    @media screen and (max-width:1370px) {
      top: 30%;
      left: 12px;
    }
  }

  &-icon-B {
    position: absolute;
    top: 44%;
    left: 18px;

    @media screen and (max-width:1370px) {
      top: 40%;
      left: 12px;
    }
  }

  &-icon-T {
    position: absolute;
    top: 54%;
    left: 18px; 

    @media screen and (max-width:1370px) {
      top: 50%;
      left: 12px;
    }
  }
}