.Vertical-Navbar {
  height: 1024px;
  background-color: black;
  width: 100px;
  position: absolute;

  p {
    position: absolute;
    right: -18%;
    top: 80%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: white;
    rotate: -90deg;
    width: 138px;
  }
}

.header {
  // width: auto;
  height: 87px;
}

#layout {
  
  &-icon-M {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 30%;
    left: 18px;
    border-radius: 6px;
  }
  
  &-icon-S {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 39%;
    left: 18px;
    border-radius: 6px;

  }

  &-icon-B {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 49%;
    left: 18px;
    border-radius: 6px;
  }

  &-icon-T {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 59%;
    left: 18px;
    border-radius: 6px;  
  }

}